body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: cornsilk;
}

.form-container {
  display: flex;
  gap: 30px;
}

.form-left {
  flex: 2;
}

.form-right {
  flex: 1;
}

#colorPalette {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.colorBtn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.item {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.day {
  margin: 10px 0;
  padding: 5px;
  border: 1px dashed #aaa;
}

.month {
  margin: 15px 0;
  padding: 10px;
  border: 2px solid #ccc;
}

.total {
  font-weight: bold;
}

.deleteBtn {
  margin-left: 10px;
  background: #ff6666;
  color: white;
  border: none;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}
.deleteBtn:hover {
  background: #cc0000;
}
button { 
  margin-top: 5px; 
  padding: 5px 10px; 
  border-radius: 9px;
  cursor: pointer; 
  box-shadow: 2px 2px  gray;
}
